/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Layers

#define Main        0
#define Win         1
#define WinFN       2
#define Mac         3
#define MacFN       4

/ {
    behaviors {
        spot_shot: spot_shot {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LA(SPACE)>, <&kp LG(LS(NUMBER_4))>;

            label = "SPOT_SHOT";
        };

        LR_BKT: LR_BKT {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp RBKT>;

            label = "LR_BKT";
        };

        f4_altf4: f4_altf4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp F4>, <&kp LA(F4)>;

            label = "F4_ALTF4";
        };

        tab_garve: tab_garve {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp GRAVE>;

            label = "TAB_GARVE";
        };

        tab_f1: tab_f1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp F1>;

            label = "TAB_F1";
        };

        f7_f8: f7_f8 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp F7>, <&kp F8>;

            label = "F7_F8";
        };

        winshot_print: winshot_print {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(S))>, <&kp LC(P)>;

            label = "WINSHOT_PRINT";
        };
    };

    macros {
        fpc_id: fpc_id {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_tap>,
                <&kp LS(N) &kp N0 &kp N0 &kp N0 &kp N1 &kp N1 &kp N7 &kp N0 &kp N5 &kp N4 &kp TAB>;

            label = "FPC_ID";
        };

        fpc_pw: fpc_pw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_tap>,
                <&kp N2 &kp N5 &kp N8 &kp N7 &kp N3 &kp N6 &kp N9 &kp N8 &kp LS(A) &kp A &kp ENTER>;

            label = "FPC_PW";
        };

        excel_pw: excel_pw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_tap>,
                <&kp N8 &kp N0 &kp N7 &kp N8 &kp N6 &kp N7 &kp ENTER>;

            label = "EXCEL_PW";
        };

        chk_L0: chk_L0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_tap>, <&kp T &kp E &kp S &kp T>;

            label = "CHK_L0";
        };

        win_restart: win_restart {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_tap>,
                <&kp LA(F4)>,
                <&macro_tap>,
                <&kp DOWN &kp ENTER>;

            label = "WIN_RESTART";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main_layer {
            display-name = "Main";
            label = "Main";
            bindings = <
&kp ESC  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                              &fpc_id     &fpc_pw  &kp LG(L)  &excel_pw  &kp LC(LA(DELETE))  &kp BACKSPACE
&kp TAB  &none         &none         &none         &none         &bt BT_CLR                                &kp ENTER   &none    &none      &none      &none               &win_restart
&none    &none         &none         &none         &none         &none                                     &none       &none    &none      &none      &none               &none
&chk_L0  &none         &none         &none         &none         &sys_reset    &to 1          &to 3        &sys_reset  &none    &none      &none      &none               &none
                                     &none         &none         &none         &bootloader    &bootloader  &none       &none    &none
            >;
        };

        windows_layer {
            display-name = "Windows";
            label = "Win";
            bindings = <
&kp ESC         &kp N1       &kp N2      &kp N3              &kp N4            &kp N5                              &kp N6         &kp N7       &kp N8           &kp N9           &kp N0                &kp MINUS
&tab_garve      &kp Q        &kp W       &kp E               &kp R             &kp T                               &kp Y          &kp U        &kp I            &kp O            &kp P                 &kp EQUAL
&winshot_print  &mt LCTRL A  &mt LALT S  &mt LEFT_COMMAND D  &mt LEFT_SHIFT F  &kp G                               &kp H          &mt RCTRL J  &mt RIGHT_ALT K  &mt RIGHT_GUI L  &mt RIGHT_SHIFT SEMI  &kp SQT
&none           &kp Z        &kp X       &kp C               &kp V             &kp B         &to 2        &LR_BKT  &kp N          &kp M        &kp COMMA        &kp DOT          &kp FSLH              &kp BACKSLASH
                                         &kp LCTRL           &kp LGUI          &kp LEFT_ALT  &kp SPACE    &kp RET  &kp BACKSPACE  &none        &kp DEL
            >;
        };

        win_fn_layer {
            display-name = "WinFN";
            label = "WinFN";
            bindings = <
&tab_f1  &kp F2  &f4_altf4  &kp F5     &kp F6    &f7_f8                           &kp BACKSPACE  &kp SLASH  &kp KP_MULTIPLY  &kp MINUS  &kp HOME   &kp END
&none    &none   &none      &none      &kp F9    &kp F12                          &kp N7         &kp N8     &kp N9           &kp EQUAL  &kp PG_UP  &kp PG_DN
&none    &none   &none      &none      &none     &none                            &kp N4         &kp N5     &kp N6           &kp RET    &kp UP     &none
&none    &none   &none      &none      &none     &none    &to 1        &to 0      &kp N1         &kp N2     &kp N3           &kp LEFT   &kp DOWN   &kp RIGHT
                            &kp LCTRL  &kp LWIN  &kp SQT  &kp SPACE    &kp ENTER  &kp DELETE     &kp N0     &kp DOT
            >;
        };

        mac_layer {
            display-name = "Mac";
            label = "Mac";
            bindings = <
&kp ESC    &kp N1       &kp N2          &kp N3          &kp N4            &kp N5                          &kp N6         &kp N7       &kp N8           &kp N9           &kp N0                &kp MINUS
&kp GRAVE  &kp Q        &kp W           &kp E           &kp R             &kp T                           &kp Y          &kp U        &kp I            &kp O            &kp P                 &kp EQUAL
&kp TAB    &mt LCTRL A  &mt LEFT_ALT S  &mt LEFT_GUI D  &mt LEFT_SHIFT F  &kp G                           &kp H          &mt RCTRL J  &mt RIGHT_ALT K  &mt RIGHT_GUI L  &mt RIGHT_SHIFT SEMI  &kp SQT
&none      &kp Z        &kp X           &kp C           &kp V             &kp B     &to 4        &LR_BKT  &kp N          &kp M        &kp COMMA        &kp DOT          &kp FSLH              &kp BACKSLASH
                                        &kp LCTRL       &kp LALT          &kp LGUI  &kp SPACE    &kp RET  &kp BACKSPACE  &spot_shot   &kp DELETE
            >;
        };

        mac_fn_layer {
            display-name = "MacFN";
            label = "MacFN";
            bindings = <
&kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS  &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS  &kp LA(SPACE)  &kp LG(LS(N5))                           &none          &kp SLASH  &kp KP_MULTIPLY  &kp MINUS  &kp HOME   &kp END
&kp C_MUTE            &kp C_VOL_DN          &kp C_VOL_UP                       &kp C_PREV                              &kp C_PP       &kp C_NEXT                               &kp N7         &kp N8     &kp N9           &kp EQUAL  &kp PG_UP  &kp PG_DN
&none                 &none                 &none                              &none                                   &none          &none                                    &kp N4         &kp N5     &kp N6           &kp RET    &kp UP     &none
&none                 &none                 &none                              &none                                   &none          &none           &to 3        &to 0       &kp N1         &kp N2     &kp N3           &kp LEFT   &kp DOWN   &kp RIGHT
                                                                               &kp LCTRL                               &kp LEFT_ALT   &kp LCMD        &kp SPACE    &kp RETURN  &kp BACKSPACE  &kp N0     &none
            >;
        };
    };
};
